<h2>Nova Categoria</h2>
<%= flash[:error] %>
<%= form_for @category do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.submit "Criar Categoria", class: "btn btn-primary" %>
<% end %>
